---
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<div class="mb-8 md:h-[800px]">
    <h2 class="text-3xl! font-semibold text-gray-800! mb-4!">Ultimas Publicaciones</h2>
    <section class="md:overflow-y-auto md:overflow-x-hidden md:scrollbar-thin md:scrollbar-track-transparent md:scrollbar-thumb-transparent">
        <ul class="flex flex-col gap-2">
            <!-- Obtener los ultimos 3 posts -->
            {
                posts.slice(0, 6).map((post) => (
                    <li class="group h-[150px]">
                        <a href={`/blog/${post.id}`} class="flex flex-row gap-2 items-center border-1 border-gray-400 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200! h-full!">
                            <div class="w-[40%] h-full! container-img">
                                <img src={post.data.heroImage} alt={post.data.title} class="rounded-l-lg! rounded-r-none! object-cover h-full!"/>
                            </div>
                            <div class="w-[60%]">
                                <h4 class="text-base! text-gray-800 dark:group-hover:text-gray-200! line-clamp-2 mb-1!">{post.data.title}</h4>
                                <p class="text-sm text-gray-600 dark:group-hover:text-gray-200! line-clamp-2 mb-1!">
                                    {post.data.description}
                                </p>
                                <p class="text-sm text-gray-600 dark:group-hover:text-gray-200!">
                                    <FormattedDate date={post.data.pubDate} />
                                </p>
                            </div>
                        </a>
                    </li>
                ))
            }
        </ul>
    </section>

